.main div  {
/* background-color: antiquewhite; */
 height: 600px; 
 width: 700px; 
display: grid;
grid-template-columns: repeat(3 , auto);
grid-template-rows: repeat(2, auto);
gap: 20px;

}

