.main {
    /* height: 700px; */
    width: 600px;
    background: linear-gradient(  to top right , #a86aa4 50% , #cc6b8e 62% , #f7c978 87% , #f7c978 100%  );
}

.ro1 {
width: 50px;
text-align: center;
display: grid;
grid-template-rows: repeat(5 , 40px);
grid-template-columns: repeat(8 , 40px) ;
margin: 10px;
}



.ro1 .d1 {
    background-color: red;
    margin: 10px;
}


.ro1 .d2 {
    background-color: red;
    margin: 10px;
}



.ro1 .d4 {
    background-color: red;
    margin: 10px;
}


.ro1 .d5 {
    background-color: red;
    margin: 10px;
}


.ro1 .d6 {
    background-color: red;
    margin: 10px;
}


.ro1 .d7 {
    background-color: red;
    margin: 10px;
}


.ro1 .d8 {
    background-color: red;
    margin: 10px;
}



.ro1 .d9 {
    background-color: red;
    margin: 10px;
}


.ro2 {
    width: 50px;
text-align: center;
display: grid;
grid-template-rows: repeat(5 , 40px);
grid-template-columns: repeat(8 , 40px) ;
margin: 10px;

}
.ro2 div {
    background-color: red;
    margin: 10px;

    
}




.rol3 {
    width: 50px;
text-align: center;
display: grid;
grid-template-rows: repeat(5 , 40px);
grid-template-columns: repeat(8 , 40px) ;
margin: 10px;

}

.rol3 div {
    background-color: red;
    margin: 10px;

    
}

.d3 {

    width: 350px;
    text-align: center;
    display: grid;
    /* grid-template-rows: repeat(5 , 40px); */
    grid-template-columns: repeat(8 , 40px) ;
    margin: 10px;
    background-color: red;
    margin: 10px;

}

.rol4  {
    width: 50px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(5 , 40px);
    grid-template-columns: repeat(8 , 40px) ;
    margin: 10px;


}

.rol4 div {

    background-color: red;
    margin: 10px;
}